{% extends '/partials/main.twig' %}

{% block body %}

{% include '/partials/asidemenu.twig' %}

<section id="above">
	<a href="javascript: void(0);" class="btn-primary" data-action="update-view">
		UPDATE DASHBOARD
	</a>
	<a href="javascript: void(0);" class="btn-primary" data-action="load-people">
		PEOPLE INDEX
	</a>
	<a href="javascript: void(0);" class="btn-primary">
		<span class="icon"></span>CREATE POST
	</a>
</section>

<section id="dashboard">
	<div class="column">
		<div class="third">
			<div class="big" data-load="weather" id="weather"></div>
		</div>
		<div class="third">
			<div class="big" data-load="savings">
				124.94
			</div>
		</div>
		<div class="third">
			<div class="big">
				89.00
			</div>
		</div>
	</div>
</section>

<section id="posts">
	
</section>

<section id="keys">
	<table>
		<thead>
			<tr>
				<th>Code</th>
			</tr>
			<tr>
				<th>IP Address</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>AGDVWQAKWGWKEFKB</td>
			</tr>
			<tr>
				<td>127.0.0.1</td>
			</tr>
		</tbody>
	</table>
</section>

<script type='text/javascript'>const userId = {{ user.id|e }};</script>

{% endblock %}