{% extends "/partials/main.twig" %}

{% block body %}

<section id="login">
	<div class="container">
		<div class="row center-xs center-sm center-md center-lg">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<form id="login" action="/ajax/login/" method="post" class="animated fadeIn">
					<input class="full" name="username" type="text" placeholder="Username">
					<input class="full" name="password" type="password" placeholder="Password">
					<button class="button full">Go!</button>
				</form>
			</div>
		</div>
	</div>
</section>

<section id="about">
	<div class="container">
		<div class="row center-xs center-sm center-md center-lg">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<p>The most advanced, automated suite of social media interaction tools – at your fingertips. Connect to something greater.</p>
			</div>
		</div>
		
	</div>
</section>

{% endblock %}