{% extends '/partials/main.twig' %}
{% block body %}

<section id="passwords">
	<div class="container">
		<div class="row center-xs center-sm center-md center-lg left-text">
			<div class="col-xs-11 col-sm-11 col-md-10 col-lg-10">
				<table class="full outside-border animated fadeIn credentials-list">
					<thead class="row-borders">
						<tr class="list-item header">
							<td>
								<div class="content">Nickname</div>
							</td>
							<td>
								<div class="content">Login ID</div>
							</td>
							<td>
								<div class="content">Login Password</div>
							</td>
							<td>
								<div class="content">Last Update</div>
							</td>
							<td>
								<div class="content">Status</div>
							</td>
							<td>
								<div class="content">Login Link</div>
							</td>
						</tr>
					</thead>

					{% verbatim %}
					<tbody class="row-borders" v-if="credentials.length">
						<template v-for="credential in credentials" v-bind:key="credential.hash">
							<tr>
								<td>
									<div class="content" v-text="credential.nickname"></div>
								</td>

								<td>
									<div class="content" v-text="credential.loginid"></div>
								</td>

								<td>
									<div class="content" v-text="credential.dec_password" data-clipboard-text="{{ credential.dec_password }}"></div>
								</td>

								<td>
									<div class="content" v-text="credential.updated_at"></div>
								</td>

								<td>
									<div class="content" v-text="credential.status_data.days_ago"></div>
								</td>
								<td>
									<div class="content" >
										<a href="javascript: void(0);" v-on:click="changePassword(credential)">Change</a>
									</div>
								</td>
							</tr>
						</template>
					</tbody>
					{% endverbatim %}

				</table>
			</div>
		</div>
	</div>
</section>
{% endblock %}