<!-- Chevron Icon to pull down header goes here -->
<!-- https://gitter.im/Dogfalo/materialize -->
<nav id="menu">
	<div class="panel">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolorum vel nostrum tempora facere voluptatum odio deserunt ex, illo dignissimos veniam iusto qui itaque, hic, earum cumque. Ipsa maiores, veritatis?</p>
	</div>

	<form id="uploadForm" action="/ajax/upload/" method="post" enctype="multipart/form-data">
		<input id="file" type="file" name="upload" class="btn-primary full"/>
		<input id="button" type="submit" value="Upload" class="btn-primary full">
	</form>

	<div id="timeline"></div>
</nav>