<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title|e }}</title>

		<!-- styling -->
		<link rel="stylesheet" href="/assets/css/flexboxgrid.css">
		<link rel="stylesheet" href="/assets/css/sweetalert.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">

		{% for style in styles %}
			<link rel='stylesheet' href='/assets/css/{{ style|e }}.css'>
		{% endfor %}

		<!-- scripting -->
		<script src="/assets/scripts/jquery.min.js"></script>
		<script src="/assets/scripts/sweetalert.min.js"></script>
		<script src="/assets/scripts/clipboard.min.js"></script>
		
		<!-- non-scaleable -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
	</head>
	<body class="{{ tags|join(' ') }}">

		{% include '/partials/header.twig' %}
		{% block body %}{% endblock %}
	
	{% for script in scripts %}
		<script type="text/javascript" src="/assets/scripts/{{ script|e }}.js"></script>
	{% endfor %}
	</body>
</html>